@charset "utf-8";

div#wrap {
    display: block;
    margin: 0 auto;
    width: 1920px;

}



h1 {
    color: red;
    font-size: 15px;
}

h2 {
    color: blue;
    font-size: large;
}

ul.taipu {
    margin: 100px;
}

ul.taipu li {
    margin: 10px;
    list-style: none;
    float: left;

}
